.page 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper
{
    width: 20rem;
    height: 30rem;
    background:#3F3D56;
    border-radius: .5rem;
}


.form 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 2rem 0 2rem;
    
}


.form > h1 
{
    color: #FEFEFE;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:1rem;
}

.form > input[type=text]
{
    color: #48465E;
    width: 100%;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    border: 1px solid #FEFEFE;
    border-radius: .25rem;
    box-sizing: border-box;
}

.form > input[type=text]:focus
{
   outline: none;
}
.form > input[type=text]::placeholder 
{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2rem;
    padding-left: 1.5rem;
    transform: translateY(10px);
}
  
.form > a 
{
    color: #FEFEFE;
    text-align: right;
    font-size: .75rem;
    margin: .5rem 0 .5rem 0;
}

.form > button 
{
    border-radius: .25rem ;
    padding: .4rem;
    border: 0;
    font-weight: bold;
    margin: .25rem 0 .25rem 0;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: .1rem;

}
.form > button:hover
{
    opacity: .9;
}

.form > .verify-btn
{
    background-color: #53BE73;
    color: #FEFEFE;

}

.form > .ignore-btn
{
    background-color: #FC5959;
    color: #FEFEFE;
}
