.basicInputContainer {
  width: fit-content;
  input{
    border-width: 0px;
    -webkit-appearance: none;
    width: 70px;
  }
  input::placeholder{
    color: rgb(78, 76, 76);
    // font-weight: 600;
    font-size: 7px;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(78, 76, 76);
    // font-weight: 600;
    font-size: 7px;
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(78, 76, 76);
    // font-weight: 600;
    font-size: 7px;
  }
  input:focus{
    border-width: 0px;
  }
  input::after{
    border-width: 0px;
  }
  input::before{
    border-width: 0px;
  }
}