.page 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #FEFEFE;
    margin-top: 5rem;
}


.game-wrapper 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    padding: 0 .5rem 0 .5rem;
}

.game-wrapper > *
{
    margin-top: 2rem;
}

.game-wrapper:first-child
{
    margin-top: 0;
}


.title 
{
    font-size:1.5rem;
    font-weight:600;
    text-transform: capitalize;
    letter-spacing: .2rem;
}

.guess-form, .answer-form, .next-form
{
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
}

.guess-form > *
{
    margin-top: .5rem;
    width: 100%;
}

label, span
{
    color: #3F3D56;
    font-size: .85rem;
    text-transform: capitalize;
}


.guess-form > input[type=text]
{
    color: #48465E;
    width: 100%;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    border: 2px solid  #47455D;
    border-radius: .25rem;
    box-sizing: border-box;
}

.guess-form > input[type=text]:focus
{
   outline: none;
}

.guess-form > input[type=text]::placeholder 
{
   color:#D8D4D4;
   font-size: .8rem;
}

.correct 
{
    color:#53BE73;
}

.wrong 
{
    color:#FC5959;
}

.disabled 
{
    background-color:#DDD;
}

.answer-form > *
{
    margin-top: .5rem;
    width: 100%;
}
.answer-form > button
{
    color:#FEFEFE;
    background-color: #3F3D56;
    width:100%;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: .5rem 0 .5rem 0 ;
    border-radius: .5rem;
    border:0;
    cursor: pointer;
}

.answer-form > button:hover
{
    opacity: .9;
}


.answer-card 
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width:15rem;
    height: 20rem;
}

.next-form > *
{
    margin-top: .5rem;
    width: 100%;
}

.next-form > button
{
    color:#FEFEFE;
    background-color: #3F3D56;
    width:100%;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: .5rem 0 .5rem 0 ;
    border-radius: .5rem;
    border:0;
    cursor: pointer;
    border: 1px solid #3F3D56;
    text-transform: capitalize;
}


.next-form > button:last-child
{
    background-color: #FEFEFE;
    color: #3F3D56;
}

.next-form > button:hover
{
    opacity: .9;
}



.answer-message 
{
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: .1rem;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}
